<html xmlns:th="http://www.thymeleaf.org">
<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">Contactez-nous</h5>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Dhar El Mehraz B.P 50 Fès 30000 Maroc, FES</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i><a href ="https://www.fsdm.usmba.ac.ma" target="_blank">www.fsdm.usmba.ac.ma</a></p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>0659-310753</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Mon Compte</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" th:href="@{/index}"><i class="fa fa-angle-right mr-2"></i>Accueil</a>
                        <a class="text-secondary mb-2" th:href="@{/shop}"><i class="fa fa-angle-right mr-2"></i>Magasin</a>
                        <a class="text-secondary mb-2" th:href="@{/cart}"><i class="fa fa-angle-right mr-2"></i>Panier</a>
                        <a class="text-secondary mb-2" th:href="@{/checkout}"><i class="fa fa-angle-right mr-2"></i>Paiement</a>
                        <a class="text-secondary" th:href="@{/contact}"><i class="fa fa-angle-right mr-2"></i>Contactez-nous</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Bulletin d'information</h5>
                    <p>Inscrivez-vous</p>
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Votre adresse e-mail">
                            <div class="input-group-append">
                                <button class="btn btn-primary">S'inscrire</button>
                            </div>
                        </div>
                    </form>
                    <h6 class="text-secondary text-uppercase mt-4 mb-3">Suivez-nous</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;"></div>
    </div>
    
    
    
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/shopp/lib/easing/easing.min.js}"></script>
    <script th:src="@{/shopp/lib/owlcarousel/owl.carousel.min.js}"></script>
	
    <!-- Contact Javascript File -->


   	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <!-- Template Javascript -->
    <script th:src="@{/shopp/js/main.js}"></script>
    <script th:src ="@{/shopp/js/toastr-init.js}"></script>
    <script th:src="@{/shopp/starrr/jquery.star-rating-svg.js}"></script>
</html>