<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
    <div th:include="user/fragments/topfragment"></div>

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" th:href="@{/index}">Acceuil</a>
                    <a class="breadcrumb-item text-dark" th:href="@{/shop}">Magasin</a>
                    <span class="breadcrumb-item active">Paiement</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Articles</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Total</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle" th:each="item : ${shoppingCart.cartItemList}">
                        <tr>
                            <td class="align-middle"><a th:href="@{/shop/{id}(id=${item.book.id})}" style="text-decoration: none;"><img src="img/product-5.jpg" alt="" style="width: 50px;" th:text="${item.book.title}"></a></td>
                            
                            <td class="align-middle" th:text="${currency} + ' ' + ${item.book.price}"></td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" th:value="${item.quantity}" readonly>
                                </div>
                            </td>
                            <td class="align-middle" th:text ="${currency} + ' ' + ${#numbers.formatDecimal(item.totalPrice, 0, 2)}"></td>
                            <td class="align-middle">
                            	<form method="post" th:action="@{/cart/delete/{itemId}(itemId=${item.id})}">
                            		<button type="submit" class="btn btn-sm btn-danger">
                            			<i class="fa fa-times"></i>
                            		</button>
                            	</form>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
               <!-- <form class="mb-30" action="">
                    <div class="input-group">
                        <input type="text" class="form-control border-0 p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>-->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Résumé du panier</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pb-2">
                    
                        <!--<div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6 th:text="${shoppingCart.totalPrice}"></h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium" th:text="${shoppingCart.totalItems}"></h6>
                        </div>-->
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5 th:text="${currency} + ' ' + ${shoppingCart.totalPrice == 0 ? '0.00' : #numbers.formatDecimal(shoppingCart.totalPrice, 0, 2)}"></h5>

                        </div>
                        <a th:href="@{/checkout}" class="btn btn-block btn-primary font-weight-bold my-3 py-3">Passer au Paiement</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->


   <div th:include="user/fragments/bottomfragment"></div>


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

</body>

</html>