<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<style>
.hidden-radio-btn{
opacity: 0;
pointer-events: none;
}
.cover-img{
height: 200%;
width:200%;
object-fit:none;
}
</style>
</head>
<div th:include="user/fragments/topfragment"></div>
<body>
   


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" th:href="@{/index}">Acceuil</a>
                    <a class="breadcrumb-item text-dark" th:href="@{/shop}">Magasin</a>
                    <span class="breadcrumb-item active">Détails</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">

                    <div class="bg-light">
                        <div class="d-flex justify-content-center align-items-center">
                            <img th:src="${book.imageUrl}" alt="Cover" class="cover-img">
                        </div>
                    </div>

            </div>

            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30 the-book" th:attr="data-rating=${book.rating}">
                    <h3 th:text = "${book.title}"></h3>
                    <div class="d-flex mb-3">
                    	<div class="main-rating"></div>
                    	<small class="pt-1" th:text ="'(' +${book.numberOfRatings} + ' Avis)'"></small>
                    </div>
                    <h3 class="font-weight-semi-bold mb-4" th:text = "${currency} + ' ' + ${book.price}"></h3>
                    <p class="mb-4" th:text = "${book.description}?:'Pas de description'"></p>
                    <div class="row">
                    	<div class ="col-lg-5">
		                    
		                    <div class="d-flex mb-3">
		                        <strong class="text-dark mr-3">Genres:</strong>
		                        <div class="custom-control-inline" th:each="tag: ${book.tags}">
		                            <label for="size-1" th:text = "${book.category !=null ?book.category.name + ', ' : ''} +${tag}"></label>
		                        </div>
		                    </div>
		                    <div class="d-flex mb-3">
		                        <strong class="text-dark mr-3">ISBN:</strong>
		                        <div class="custom-control-inline">
		                            <label  for="size-1" th:text = "${book.isbn}"></label>
		                        </div>
		                    </div>
		                    <div class="d-flex mb-3">
		                        <strong class="text-dark mr-3">Auteur:</strong>
		                        <div class="custom-control-inline">
		                            <label  for="size-1" th:text = "${book.author}"></label>
		                        </div>
		                    </div>
		                    <div class="d-flex mb-3">
		                        <strong class="text-dark mr-3">Editeur:</strong>
		                        <div class="custom-control-inline">
		                            <label  for="size-1" th:text = "${book.publisher}"></label>
		                        </div>
		                    </div>
		                    <div class="d-flex mb-3">
		                        <strong class="text-dark mr-3">Plus d'Informations:</strong>
		                        <div class="custom-control-inline">
		                        	<a th:href= "${book.InfoLink}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
		                        </div>
		                    </div>
		                </div>
		                <div class ="col-lg-5 ml-5">
	                    <div class="d-flex mb-3">
		                        <strong class="text-dark mr-3">Date de Publication: </strong>
		                        <div class="custom-control-inline">
		                            <label  for="size-1" th:text = "${book.publicationDate}"></label>
		                        </div>
		                    </div>
		                    <div class="d-flex mb-3">
		                        <strong class="text-dark mr-3">Langue:</strong>
		                        <div class="custom-control-inline">
		                            <label  for="size-1" th:text = "${book.language}"></label>
		                        </div>
		                    </div>
		                    <div class="d-flex mb-3">
		                        <strong class="text-dark mr-3">Pages:</strong>
		                        <div class="custom-control-inline">
		                            <label  for="size-1" th:text = "${book.numberOfPages}"></label>
		                        </div>
		                    </div>
		                    <div class="d-flex mb-3">
		                        <strong class="text-dark mr-3">En Stock:</strong>
		                        <div class="custom-control-inline">
		                            <label  for="size-1" th:text = "${book.quantity}"></label>
		                        </div>
		                    </div>
		                    <div class="d-flex mb-3">
		                        <strong class="text-dark mr-3">Aperçu:</strong>
		                        <div class="custom-control-inline">
		                        	<a th:href= "${book.previewLink}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
		                        </div>
		                    </div>
	                    </div>
	                    
	                    
	                </div>
                    <form method="post" th:action ="@{/add-to-cart}">
                    <input type="hidden" name="bookId" th:value="${book.id}">
	                    <div class="d-flex align-items-center mb-4 pt-2" >
	                        <div class="input-group quantity mr-3" style="width: 130px;">
	                            <div class="input-group-btn">
	                                <button class="btn btn-primary btn-minus" id="minusButton" th:attr="data-bookquantity=${bookQuantity}">
	                                    <i class="fa fa-minus"></i>
	                                </button>
	                            </div>
	                            <input type="text" class="form-control bg-secondary border-0 text-center" id="quantity" name="quantity" value="1" readonly >
	                            <div class="input-group-btn" >
	                                <button class="btn btn-primary btn-plus" id="plusButton" th:attr="data-bookquantity=${bookQuantity}" >
	                                    <i class="fa fa-plus"></i>
	                                </button>
	                            </div>
	                        </div>
	                        <button type = "submit" class="btn btn-primary px-3 btn-add-to-cart" th:attr="data-authenticated=${authenticated}" th:disabled="${book.quantity == 0}" ><i class="fa fa-shopping-cart mr-1"></i>Ajouter au Panier</button> 
	                    </div>
                    </form>
                    <!-- <div class="d-flex pt-2">
                        <strong class="text-dark mr-2">Share on:</strong>
                        <div class="d-inline-flex">
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-pinterest"></i>
                            </a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Résumé</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" data-target="#tab-pane-3" href="#tab-pane-3">Avis</a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <h4 class="mb-3">Description</h4>
                            <p th:text = "${book.description}"></p>
                        </div>
                        
                        <div class="tab-pane fade" id="tab-pane-3">
                            <div class="row">
                                <div class="col-md-6">
                                <div class ="overflow-auto" style="height:600px;">
                                    <h4 class="mb-4"><span class="font-weight-bold">Avis pour </span><span th:text ="${book.title}"></span></h4>
                                    <div class="media mb-4 get-review-ratings" th:each ="review : ${reviews}" th:attr="data-reviewrating=${review.rating}">
                                        <div class="media-body">
                                        	<hr class="my-4">
                                            <h6><span th:text="${review.fullName}"></span><small> - <i><span th:text = "${#temporals.format(review.createdAt, 'dd-MMMM-yyyy HH:mm', new java.util.Locale('en', 'EN'))}"></span></i></small></h6>
                                            <div class="form-rating">
                                            </div>
                                            <p th:text ="${review.message}"></p>
                                        </div>
                                    </div>
                                 </div>   
                                </div>
                                <div class="col-md-6 h-100">
                                    <h4 class="mb-4">Laisser un avis</h4>
                                    <form th:action="@{/shop/{id}(id=${book.id})}" th:object="${newreview}" method="post" class="needs-validation" novalidate>
                                    	<small>Votre adresse e-mail ne sera pas publiée. Les champs obligatoires sont marqués *</small>
	                                    
	                                    <div class="d-flex my-3">
	                                        <p class="mb-0 mr-2">Votre évaluation * :</p>
	                                        <div class="form-rating"></div>
	        								<input type="hidden" id="rating" th:field="*{rating}" value ="2.5" name="formrating">
	                                    	<div class="invalid-feedback">Veuillez choisir une évaluation.</div>
	                                    </div>
                                        <div class="form-group my-3">
                                            <label for="message">Votre Avis *</label>
                                            <textarea id="message" cols="30" rows="5" name = "message" class="form-control" th:field="*{message}" placeholder= "Votre avis"  required></textarea>
                                        	<div class="invalid-feedback">Veuillez entrer votre avis.</div>
                                        </div>
                                        <div class="form-group my-3">
                                            <label for="name">Votre Nom *</label>
                                            <div th:if="${authenticated}">
                                            	<input type="text" class="form-control" id="name" th:field ="*{fullName}" th:placeholder="${theUser.fullName}">
                                            </div>
                                            <div th:unless="${authenticated}">
                                            	<input type="text" class="form-control" id="name" th:field ="*{fullName}" th:placeholder="'Nom et prénom'" required>
                                        		<div class="invalid-feedback">Veuillez entrer votre nom.</div>
                                            </div>
                                            
                                        </div>
                                        <div class="form-group my-3">
                                            <label for="email">Votre Email *</label>
                                            <div th:if="${authenticated}">
                        						<input type="email" class="form-control" id="email" th:field="*{email}"  th:placeholder = "${theUser.email}" />
                        					</div>
                        					<div th:unless="${authenticated}">
                                            	<input type="text" class="form-control" id="email" th:field="*{email}" th:placeholder="'Adresse e-mail'" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                                        		<div class="invalid-feedback">Veuillez entrer une adresse e-mail valide.</div>
                                        	</div>
                                        </div>
                                        
                                        <div class="form-group mb-0">
                                            <input type="submit" value="Laisser un avis" class="btn btn-primary px-3">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->


    <!-- Products Start -->
    <div class="container-fluid py-5">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Vous pourriez également aimer</span></h2>
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel related-carousel book-items" id="product-carousel">
	                <div th:each ="similarBook : ${similarBooks}" >
	                    <div class="product-item bg-light" th:attr="data-simrating=${similarBook.rating}">
	                        <div class="product-img position-relative overflow-hidden">
	                            <img class="img-fluid" th:if="${book.cover !=null}" th:src ="${similarBook.imageUrl}" alt="">
	                            <div class="product-action">
	                                <a class="btn btn-outline-dark btn-square btn-add-to-cart" th:href="@{/shop/{id}(id=${similarBook.id})}" th:attr="data-authenticated=${authenticated}"><i class="fa fa-shopping-cart"></i></a>
	                                <a class="btn btn-outline-dark btn-square" th:href="@{/shop/{id}(id=${similarBook.id})}"><i class="fa fa-search"></i></a>
	                            </div>
	                        </div>
	                        <div class="text-center py-4">
	                            <a class="h6 text-decoration-none text-truncate" th:href="@{/shop/{id}(id=${similarBook.id})}" th:text="${similarBook.title}"></a>
	                            <div class="d-flex align-items-center justify-content-center mt-2">
	                                <h5 th:text="${currency} + ' ' + ${similarBook.price}"></h5>
	                            </div>
	                            <div class="d-flex align-items-center justify-content-center mb-1">
		                       		<div class="sim-rating"></div>
			                       	<div class="d-flex align-items-center justify-content-center m-2 pt-1" th:text ="'(' +${similarBook.numberOfRatings} + ')'"></div>
		                       </div>
	                        </div>
	                    </div>
	                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Products End -->


	<script th:src="@{/shopp/js/bookcart.js}"></script>
   	<div th:include="user/fragments/bottomfragment"></div>
	<script>
	

	$(".product-item").each(function() {
	    var bookRatingSim = $(this).attr('data-simrating');
	    $(this).find(".sim-rating").starRating({
	        starSize: 20,
	        initialRating: bookRatingSim,
	        readOnly: true,
	    });
	});
	$(".get-review-ratings").each(function() {
	    var bookRatingSim = $(this).attr('data-reviewrating');
	    $(this).find(".form-rating").starRating({
	        starSize: 20,
	        initialRating: bookRatingSim,
	        readOnly: true,
	    });
	});
	var bookRatingMain = $('.the-book').attr('data-rating');
	$(".main-rating").starRating({
	    starSize: 20,
	    initialRating:bookRatingMain,
	    readOnly:true,

	});

	$(".form-rating").starRating({
	    disableAfterRate:false,
	    starSize: 20,
	    initialRating: 2.5,
		ratedColors:['#ffa700','#ffa700','#ffa700','#ffa700','#ffa700'],
	    callback: function(currentRating, $el){
			$("#rating").val(currentRating);
	    }
	});
	// Get the input field and the invalid feedback div


	</script>
	<script>
	(function () {
	    'use strict'

	    // Fetch all the forms we want to apply custom Bootstrap validation styles to
	    var forms = document.querySelectorAll('.needs-validation')

	    // Loop over them and prevent submission
	    Array.prototype.slice.call(forms)
	      .forEach(function (form) {
	        form.addEventListener('submit', function (event) {
	          if (!form.checkValidity()) {
	            event.preventDefault()
	            event.stopPropagation()
	          }

	          form.classList.add('was-validated')
	        }, false)
	      })
	  })()
	</script>
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
</body>

</html>