<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- theme meta -->
<meta name="theme-name" content="focus" />
<title>Focus Admin: Creative Admin Dashboard</title>
<!-- ================= Favicon ================== -->
<!-- Standard -->
<link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
<!-- Retina iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="144x144"
	href="http://placehold.it/144.png/000/fff">
<!-- Retina iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="114x114"
	href="http://placehold.it/114.png/000/fff">
<!-- Standard iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="72x72"
	href="http://placehold.it/72.png/000/fff">
<!-- Standard iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="57x57"
	href="http://placehold.it/57.png/000/fff">
<!-- Styles -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link th:href="@{/css/lib/font-awesome.min.css}" rel="stylesheet">
<link th:href="@{/css/lib/themify-icons.css}" rel="stylesheet">
<link th:href="@{/css/lib/menubar/sidebar.css}" rel="stylesheet">
<link th:href="@{/css/lib/helper.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />



<style type="text/css">
.book-cover{
	display: block;
  	max-width:230px;
  	max-height:95px;
  	width: auto;
 	height: auto;
}

</style>

</head>

<body>

    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo"><a href="index.html">
                            <!-- <img src="images/logo.png" alt="" /> --><span>Focus</span></a></div>
                    <li class="label">Main</li>
                    <li><a class="sidebar-sub-toggle"><i class="ti-home"></i> Dashboard <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a th:href="@{/admin/index}">Dashboard</a></li>
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> Table <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>

                            <li><a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> Categories <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                                <ul>	
                                	<li><a th:href="@{/admin/category}">List Categories</a></li>
                                	<li><a th:href="@{/admin/category/showNewCategoryForm}">Add Categories</a></li>
                                </ul>
                            </li>
                            
                            <li><a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> Books <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                                <ul>	
                                	<li><a th:href="@{/admin/book}">List Books</a></li>
                                	<li><a th:href="@{/admin/book/showNewBookForm}">Add Books</a></li>
                                </ul>
                            </li>
                            
                         
                        </ul>
                    </li>
                   
                    <li><a class="sidebar-sub-toggle"><i class="ti-target"></i> Pages <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a th:href="@{/login}">Login</a></li>
                            <li><a th:href="@{/register}">Register</a></li>
                            <li><a th:href="@{/forgotPassword}">Forgot password</a></li>
                        </ul>
                    </li>
                   
                    <li><a th:href="@{/logout}"><i class="ti-close"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
	<!-- /# sidebar -->

	<div class="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="float-left">
						<div class="hamburger sidebar-toggle">
							<span class="line"></span> <span class="line"></span> <span
								class="line"></span>
						</div>
					</div>
					<div class="float-right">

						<div class="dropdown dib">
							<div class="header-icon" data-toggle="dropdown">
								<span class="user-avatar"><span sec:authentication="name"></span>
									<i class="ti-angle-down f-s-10"></i> </span>
								<div
									class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">
									<div class="dropdown-content-heading"></div>
									<div class="dropdown-content-body">
										<ul>
											<li><a href="#"> <i class="ti-user"></i> <span>Admin</span>
											</a></li>


											<li><a th:href="@{/logout}"> <i class="ti-power-off"></i> <span>Logout</span>
											</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<div class="content-wrap">
		<div class="main">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-8 p-r-0 title-margin-right">
						<div class="page-header">
							<div class="page-title">
								<h1>
									Hello, <span>Welcome Here</span>
								</h1>
							</div>
						</div>
					</div>
					<!-- /# column -->
					<div class="col-lg-4 p-l-0 title-margin-left">
						<div class="page-header">
							<div class="page-title">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
									<li class="breadcrumb-item active">Show Books</li>
								</ol>
							</div>
						</div>
					</div>
					<!-- /# column -->
				</div>
				<!-- /# row -->
				<section id="main-content">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-title">
									<h4>Showing Books</h4>
								</div>
								<div class="bootstrap-data-table-panel">
									<div class="table-responsive" style="width: 100%">
										<table id="row-select"
											class="display table table-borderd table-hover">
											<thead>


												<tr>
													<th>ID</th>
													<th>Cover</th>
													<th>ISBN</th>
													<th>Title</th>
													<th>Category</th>
													<th>Description</th>
													<th>Author</th>
													<th>Publisher</th>
													<th>Publication Date</th>
													<th>Number Of Pages</th>
													<th>Price</th>
													<th>Actions</th>

												</tr>
											</thead>
											<tbody>
												<tr th:each="book : ${books}" style="width: 100%;">
													<td th:text="${book.id}"></td>
													<td><a><img  width="400" height="400" class = "book-cover" alt="Book Cover"th:if="${book.cover != null}" th:src="${book.imageUrl}"  /></a></td>
													<td th:text="${book.isbn}"></td>
													<td th:text="${book.title}"></td>
													<td th:text="${book.category != null} ? ${book.category.name} : 'No Category Assigned'"></td>
													<td th:text="${book.description}"></td>
													<td th:text="${book.author}"></td>
													<td th:text="${book.publisher}"></td>
													<td
														th:text="${#temporals.format(book.publicationDate, 'd MMMM yyyy')}"></td>

													<td th:text="${book.numberOfPages}"></td>
													<td th:text="${book.Price}"></td>



													<td>
														<div class="d-flex">
															<a th:href = "@{/admin/book/edit-book/{id}(id=${book.id})}" class="btn btn-primary mr-2">Edit</a>
															<a th:href="@{/admin/book/delete/{id}(id=${book.id})}"  
															   class="btn btn-danger mr-2">Delete</a>
														</div>
													</td>


												</tr>
											<tfoot>
												<tr>
													<th>ID</th>
													<th>Cover</th>
													<th>ISBN</th>
													<th>Title</th>
													<th>Category</th>
													<th>Description</th>
													<th>Author</th>
													<th>Publisher</th>
													<th>Publication Date</th>
													<th>Number Of Pages</th>
													<th>Price</th>
													<th>Actions</th>

												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
							<!-- /# card -->
						</div>
						<!-- /# column -->
					</div>
					<!-- /# row -->
				</section>

			</div>
		</div>
	</div>




	<!-- jquery vendor -->
	<script th:src="@{/js/lib/jquery.min.js}"></script>
	<script th:src="@{/js/lib/jquery.nanoscroller.min.js}"></script>
	<!-- nano scroller -->
	<script th:src="@{/js/lib/menubar/sidebar.js}"></script>
	<script th:src="@{/js/lib/preloader/pace.min.js}"></script>
	<!-- sidebar -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	
	<script th:src="@{/js/lib/data-table/datatables.min.js}"></script>
	<script th:src="@{/js/lib/data-table/dataTables.buttons.min.js}"></script>
	<script th:src="@{/js/lib/data-table/jszip.min.js}"></script>
	<script th:src="@{/js/lib/data-table/pdfmake.min.js}"></script>
	<script th:src="@{/js/lib/data-table/vfs_fonts.js}"></script>
	<script th:src="@{/js/lib/data-table/buttons.html5.min.js}"></script>
	<script th:src="@{/js/lib/data-table/buttons.print.min.js}"></script>
	<script th:src="@{/js/lib/data-table/buttons.colVis.min.js}"></script>
	<script th:src="@{/js/lib/data-table/datatables-init.js}"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>






</body>

</html>