<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Standard -->
<link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
<!-- Retina iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="144x144"
	href="http://placehold.it/144.png/000/fff">
<!-- Retina iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="114x114"
	href="http://placehold.it/114.png/000/fff">
<!-- Standard iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="72x72"
	href="http://placehold.it/72.png/000/fff">
<!-- Standard iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="57x57"
	href="http://placehold.it/57.png/000/fff">
<!-- Styles -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link th:href="@{/css/lib/font-awesome.min.css}" rel="stylesheet">
<link th:href="@{/css/lib/themify-icons.css}" rel="stylesheet">
<link th:href="@{/css/lib/menubar/sidebar.css}" rel="stylesheet">
<link th:href="@{/css/lib/helper.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />



<style type="text/css">
.book-cover{
	display: block;
  	max-width:230px;
  	max-height:95px;
  	width: auto;
 	height: auto;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

td {
  max-width: 200px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
td .d-flex {
  white-space: nowrap;
}
</style>

</head>

<body>

    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo"><a href="index.html">
					<span>Admin</span></a></div>
                    <li><a class="sidebar-sub-toggle"><i class="ti-home"></i> Tableau de bord <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a th:href="@{/admin/index}">Tableau de bord</a></li>
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> Table <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>

                            <li><a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> Genres <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                                <ul>	
                                	<li><a th:href="@{/admin/category}">Afficher Genres</a></li>
                                	<li><a th:href="@{/admin/category/showNewCategoryForm}">Ajouter Genre</a></li>
                                </ul>
                            </li>
                            
                            <li><a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> Livres <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                                <ul>	
                                	<li><a th:href="@{/admin/book}">Afficher Livres</a></li>
                                	<li><a th:href="@{/admin/book/showNewBookForm}">Ajouter Livres</a></li>
                                </ul>
                            </li>
                            
                         
                        </ul>
                    </li>
                   
                    <li><a class="sidebar-sub-toggle"><i class="ti-target"></i> Autres Pages <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a th:href="@{/login}">Connexion</a></li>
                            <li><a th:href="@{/register}">Inscription</a></li>
                            <li><a th:href="@{/forgotPassword}">Mot de passe Oublié</a></li>
                        </ul>
                    </li>
                   
                    <li><a th:href="@{/logout}"><i class="ti-close"></i> Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </div>
	<!-- /# sidebar -->

	<div class="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="float-left">
						<div class="hamburger sidebar-toggle">
							<span class="line"></span> <span class="line"></span> <span
								class="line"></span>
						</div>
					</div>
					<div class="float-right">

						<div class="dropdown dib">
							<div class="header-icon" data-toggle="dropdown">
								<span class="user-avatar"><span sec:authentication="name"></span>
									<i class="ti-angle-down f-s-10"></i> </span>
								<div
									class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">
									<div class="dropdown-content-heading"></div>
									<div class="dropdown-content-body">
										<ul>
											<li><a href="#"> <i class="ti-user"></i> <span>Admin</span>
											</a></li>


											<li><a th:href="@{/logout}"> <i class="ti-power-off"></i> <span>Se déconnecter</span>
											</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="content-wrap">
		<div class="main">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-8 p-r-0 title-margin-right">
						<div class="page-header">
						</div>
					</div>
					<!-- /# column -->
					<div class="col-lg-4 p-l-0 title-margin-left">
						<div class="page-header">
							<div class="page-title">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Tableau de Bord</a></li>
									<li class="breadcrumb-item active">Afficher Livres</li>
								</ol>
							</div>
						</div>
					</div>
					<!-- /# column -->
				</div>
				<!-- /# row -->
				<section id="main-content">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-title">
									<h4>Livres</h4>
								</div>
								<div class="bootstrap-data-table-panel">
									<div class="table-responsive">
										<table id="row-select"
											class="display table table-bordered table-hover">
											<thead>

												<tr>
													<th>Actions</th>
													<th>Couverture</th>
													<th>ISBN</th>
													<th>Titre</th>
													<th>Genre</th>
													<th>Auteur</th>
													<th>Editeur</th>
													<th>Date Publication</th>
													<th>Pages</th>
													<th>Prix</th>

												</tr>
											</thead>
											<tbody>
												<tr th:each="book : ${books}">
													<td >
															<a th:href = "@{/admin/book/edit-book/{id}(id=${book.id})}" class="btn btn-primary mr-2 btn-block">Modifier</a>
															<a th:href="@{/admin/book/delete/{id}(id=${book.id})}"  
															   class="btn btn-danger mr-2 btn-block">Supprimer</a>
													</td>
													<td>
														<a>
														<img  width="400" height="400" class = "book-cover" alt="Book Cover" th:if = "${book.cover !=null}" th:src="${book.imageUrl}"  />
														</a>
													</td>
													<td th:text="${book.isbn}?:'Inconnu'"></td>
													<td th:text="${book.title} ?: 'Inconnu'"></td>
													<td th:text="${book.category != null} ? ${book.category.name} : 'Pas de genre'"></td>
													<td th:text="${book.author}?:'Auteur Inconnu'"></td>
													<td th:text="${book.publisher}?:'Publisher Inconnu'"></td>
													<td
														th:text="${#temporals.format(book.publicationDate, 'd MMMM yyyy')}?:'Date de Publication Inconnue'"></td>

													<td th:text="${book.numberOfPages}?:'Nombre de pages Inconnu'"></td>
													<td th:text="${book.price}"></td>

												</tr>
											<tfoot>
												<tr>
													<th>Actions</th>
													<th>Couverture</th>
													<th>ISBN</th>
													<th>Titre</th>
													<th>Genre</th>
													<th>Auteur</th>
													<th>Editeur</th>
													<th>Date Publication</th>
													<th>Pages</th>
													<th>Prix</th>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
							<!-- /# card -->
						</div>
						<!-- /# column -->
					</div>
					<!-- /# row -->
				</section>

			</div>
		</div>
	</div>




	<!-- jquery vendor -->
	<script th:src="@{/js/lib/jquery.min.js}"></script>
	<script th:src="@{/js/lib/jquery.nanoscroller.min.js}"></script>
	<!-- nano scroller -->
	<script th:src="@{/js/lib/menubar/sidebar.js}"></script>
	<script th:src="@{/js/lib/preloader/pace.min.js}"></script>
	<!-- sidebar -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/lib/data-table/datatables.min.js}"></script>
	<script th:src="@{/js/lib/data-table/dataTables.buttons.min.js}"></script>
	<script th:src="@{/js/lib/data-table/jszip.min.js}"></script>
	<script th:src="@{/js/lib/data-table/pdfmake.min.js}"></script>
	<script th:src="@{/js/lib/data-table/vfs_fonts.js}"></script>
	<script th:src="@{/js/lib/data-table/buttons.html5.min.js}"></script>
	<script th:src="@{/js/lib/data-table/buttons.print.min.js}"></script>
	<script th:src="@{/js/lib/data-table/buttons.colVis.min.js}"></script>
	<script th:src="@{/js/lib/data-table/datatables-init.js}"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>






</body>

</html>