<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <!-- Styles -->
    <link th:href="@{/css/lib/calendar2/pignose.calendar.min.css}" rel="stylesheet">
    <link th:href="@{/css/lib/chartist/chartist.min.css}" rel="stylesheet">
    <link th:href="@{/css/lib/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/lib/themify-icons.css}" rel="stylesheet">
    <link th:href="@{/css/lib/owl.carousel.min.css}" rel="stylesheet" />
    <link th:href="@{/css/lib/owl.theme.default.min.css}" rel="stylesheet" />
    <link th:href="@{/css/lib/weather-icons.css}" rel="stylesheet" />
    <link th:href="@{/css/lib/menubar/sidebar.css}" rel="stylesheet">
    <link th:href="@{/css/lib/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/lib/helper.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    
    <style>
	.btn {
	  border: none;
	  padding: 2px 6px;
	  font-size: 14px;
	  cursor: pointer;
	  text-align: center;
	  white-space: nowrap;
	  display: inline-block;
	  margin: 0;
	  border-radius: 4px;
	  pointer-events:none
	}
	
	.status-200 {
	  	color: #fff;
		background-color: #28a745;
		border-color: #28a745;
	}
	
	.status-403 {
	  	color: #212529;
		background-color: #ffc107;
		border-color: #ffc107;
	}
	.status-404{
		color: #fff;
		background-color: #007bff;
		border-color: #007bff;
	}
	
	
	.status-500 {
	  	color: #fff;
		background-color: #dc3545;
		border-color: #dc3545;
	}

    
    </style>
</head>


<body>

    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo"><a href="index.html">
                    <span>Admin</span></a></div>
                    <li><a class="sidebar-sub-toggle"><i class="ti-home"></i> Tableau de bord <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a th:href="@{/admin/index}">Tableau de bord</a></li>
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> Table <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>

                            <li><a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> Genres <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                                <ul>	
                                	<li><a th:href="@{/admin/category}">Afficher Genres</a></li>
                                	<li><a th:href="@{/admin/category/showNewCategoryForm}">Ajouter Genre</a></li>
                                </ul>
                            </li>
                            
                            <li><a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> Livres <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                                <ul>	
                                	<li><a th:href="@{/admin/book}">Afficher Livres</a></li>
                                	<li><a th:href="@{/admin/book/showNewBookForm}">Ajouter Livres</a></li>
                                </ul>
                            </li>
                            
                         
                        </ul>
                    </li>
                   
                    <li><a class="sidebar-sub-toggle"><i class="ti-target"></i> Autres Pages <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a th:href="@{/login}">Connexion</a></li>
                            <li><a th:href="@{/register}">Inscription</a></li>
                            <li><a th:href="@{/forgotPassword}">Mot de passe Oublié</a></li>
                        </ul>
                    </li>
                   
                    <li><a th:href="@{/logout}"><i class="ti-close"></i> Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </div>
	<!-- /# sidebar -->

	<div class="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="float-left">
						<div class="hamburger sidebar-toggle">
							<span class="line"></span> <span class="line"></span> <span
								class="line"></span>
						</div>
					</div>
					<div class="float-right">

						<div class="dropdown dib">
							<div class="header-icon" data-toggle="dropdown">
								<span class="user-avatar"><span sec:authentication="name"></span>
									<i class="ti-angle-down f-s-10"></i> </span>
								<div
									class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">
									<div class="dropdown-content-heading"></div>
									<div class="dropdown-content-body">
										<ul>
											<li><a href="#"> <i class="ti-user"></i> <span>Admin</span>
											</a></li>


											<li><a th:href="@{/logout}"> <i class="ti-power-off"></i> <span>Se déconnecter</span>
											</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Tableau de Bord</a></li>
                                    <li class="breadcrumb-item active">Acceuil</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->
                <section id="main-content">
                   
		           <div class="row">
					  <div class="col-lg-12">
					    <div class="card nestable-cart">
					      <div class="card-title">
					        <h4>Trace HTTP</h4>
					      </div>
					      <div class="card-body">

					        <div class="table-responsive border">
					          <table class="display table table-bordered text-center table-striped">
					            <thead>
					              <tr>
					                <th>Date</th>
					                <th>URI</th>
					                <th>méthode</th>
					                <th>Statut</th>
					                <th>Durée</th>
					              </tr>
					            </thead>
					            <tbody>
					              <tr th:each="exchange : ${httpTraces.exchanges}">
					                <td th:text="${exchange.timestamp}"></td>
					                <td th:text="${exchange.request.uri}"></td>
					                <td th:text="${exchange.request.method}"></td>
									<td>
									  <button th:text="${exchange.response.status}"
									          th:class="'btn status-' + ${exchange.response.status}">
									  </button>
									</td>
					                <td th:text="${exchange.timeTaken}"></td>
					                
					              </tr>
					            </tbody>
					          </table>
					        </div>

					      </div>
					    </div>
					  </div>
					</div>

    
                </section>
            </div>
        </div>
    </div>
	
	
    <!-- jquery vendor -->
    <script th:src="@{/js/lib/jquery.min.js}"></script>
    <script th:src="@{/js/lib/jquery.nanoscroller.min.js}"></script>
    <!-- nano scroller -->
    <script th:src="@{/js/lib/menubar/sidebar.js}"></script>
    <script th:src="@{/js/lib/preloader/pace.min.js}"></script>
    <!-- sidebar -->
	
    <script th:src="@{/js/lib/bootstrap.min.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <!-- bootstrap -->

    <script th:src="@{/js/lib/circle-progress/circle-progress.min.js}"></script>
    <script th:src="@{/js/lib/circle-progress/circle-progress-init.js}"></script>
    <script th:src="@{/js/lib/sparklinechart/jquery.sparkline.min.js}"></script>
    <script th:src="@{/js/lib/sparklinechart/sparkline.init.js}"></script>
    <script th:src="@{/js/lib/owl-carousel/owl.carousel.min.js}"></script>
    <script th:src="@{/js/lib/owl-carousel/owl.carousel-init.js}"></script>
    <!-- scripit init-->
    <script th:src="@{/js/dashboard2.js}"></script>
    
    
</body>

</html>
